@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geom Graphic";
  src: url("/fonts/GeomGraphicLight.ttf") format("ttf");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geom Graphic";
  src: url("/fonts/GeomGraphicLightItalic.ttf") format("ttf");
  font-weight: lighter;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geom Graphic";
  src: url("/fonts/GeomGraphicRegular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geom Graphic";
  src: url("/fonts/GeomGraphicRegularItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geom Graphic";
  src: url("/fonts/GeomGraphicSemiBold.ttf") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geom Graphic";
  src: url("/fonts/GeomGraphicSemiBoldItalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geom Graphic";
  src: url("/fonts/GeomGraphicBold.ttf") format("ttf");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geom Graphic";
  src: url("/fonts/GeomGraphicBoldItalic.ttf") format("ttf");
  font-weight: bolder;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Carbon";
  src: url("/fonts/CarbonThin.ttf") format("ttf");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Carbon";
  src: url("/fonts/CarbonThinItalic.ttf") format("ttf");
  font-weight: lighter;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Carbon";
  src: url("/fonts/CarbonRegular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Carbon";
  src: url("/fonts/CarbonRegularItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Carbon";
  src: url("/fonts/CarbonBold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Carbon";
  src: url("/fonts/CarbonBoldItalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
