@font-face {
  font-family: "geom-graphic";
  src: url("/fonts/GeomGraphicLight.woff") format("woff"),
  url("/fonts/GeomGraphicLight.ttf") format("ttf"),
  url("/fonts/GeomGraphicLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "geom-graphic";
  src: url("/fonts/GeomGraphicLightItalic.woff") format("woff"),
  url("/fonts/GeomGraphicLightItalic.ttf") format("ttf"),
  url("/fonts/GeomGraphicLightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "geom-graphic";
  src: url("/fonts/GeomGraphicRegular.woff") format("woff"),
  url("/fonts/GeomGraphicRegular.ttf") format("ttf"),
  url("/fonts/GeomGraphicRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "geom-graphic";
  src: url("/fonts/GeomGraphicRegularItalic.woff") format("woff"),
  url("/fonts/GeomGraphicRegularItalic.ttf") format("ttf"),
  url("/fonts/GeomGraphicRegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "geom-graphic";
  src: url("/fonts/GeomGraphicSemiBold.woff") format("woff"),
  url("/fonts/GeomGraphicSemiBold.ttf") format("ttf"),
  url("/fonts/GeomGraphicSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "geom-graphic";
  src: url("/fonts/GeomGraphicSemiBoldItalic.woff") format("woff"),
  url("/fonts/GeomGraphicSemiBoldItalic.ttf") format("ttf"),
  url("/fonts/GeomGraphicSemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "geom-graphic";
  src: url("/fonts/GeomGraphicBold.woff") format("woff"),
  url("/fonts/GeomGraphicBold.ttf") format("ttf"),
  url("/fonts/GeomGraphicBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "geom-graphic";
  src: url("/fonts/GeomGraphicBoldItalic.woff") format("woff"),
  url("/fonts/GeomGraphicBoldItalic.ttf") format("ttf"),
  url("/fonts/GeomGraphicBoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}