@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geom Graphic";
  src: url("~/assets/fonts/GeomGraphicLight.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geom Graphic";
  src: url("~/assets/fonts/GeomGraphicLightItalic.woff") format("woff");
  font-weight: lighter;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geom Graphic";
  src: url("~/assets/fonts/GeomGraphicRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geom Graphic";
  src: url("~/assets/fonts/GeomGraphicRegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geom Graphic";
  src: url("~/assets/fonts/GeomGraphicSemiBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geom Graphic";
  src: url("~/assets/fonts/GeomGraphicSemiBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geom Graphic";
  src: url("~/assets/fonts/GeomGraphicBold.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geom Graphic";
  src: url("~/assets/fonts/GeomGraphicBoldItalic.woff") format("woff");
  font-weight: bolder;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Carbon";
  src: url("~/assets/fonts/CarbonThin.ttf") format("ttf");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Carbon";
  src: url("~/assets/fonts/CarbonThinItalic.ttf") format("ttf");
  font-weight: lighter;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Carbon";
  src: url("~/assets/fonts/CarbonRegular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Carbon";
  src: url("~/assets/fonts/CarbonRegularItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Carbon";
  src: url("~/assets/fonts/CarbonBold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Carbon";
  src: url("~/assets/fonts/CarbonBoldItalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
